{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2 class="text-center">CAJAS DINAMICAS</h2>
    <form action="/CajasDinamicas" method="POST">
        <div class="control-group text-center">
            <label for="txtCant" class="control-label">Cantidad de cajas:</label>
            <div class="controls">
                <input type="text" name="txtCant">
            </div>
        </div>
        <div class="control-group text-center">
            <div class="controls">
                <button type="submit" class="btn btn-default btn-primary">
                    Implementar
                </button>
            </div>
        </div>
    </form>
    <hr/>
    <div class="container text-center">
        {% if cantidad > 0 %}
        <form action="ResCajasDinamicas" method="POST">
            {%from "_macros.html" import render_CajaD%}

            {% for i in range(1, cantidad+1) %}
                {{render_CajaD(i)}}
            {% endfor %}
            <div class="controls">
                <input value={{cantidad}} name="txtCantNums" hidden>
                <button type="submit" class="btn btn-default btn-primary">
                    Calcular
                </button>
            </div>
        </form>
        {% endif %}
    </div>


{% endblock %}